*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
/.android_home
/.gradle_user_home*
/.idea
/.idea/*
/.kotlin/
/app/schemas/com.mapconductor.plugin.provider.geolocation.core.data.room.AppDatabase
/app/src/test/
/captures
/here-credentials.properties
/herecredentials.properties
/local.properties
/mapconductor-core-src
/secret.properties
/secrets.properties
/tmp/
DR_DESIGN_NOTES_*.md
GeoLocationProvider.zip
build/
codex.log
libs/*
local.properties
mapbox_access_token.xml
